$primary: #e63946;
$secondary: #a8dadc;
$blue: #1d3557;
$blue-light: #457b9d;
$green: #f1faee;
$green-light: #fdfefd;

$patternBackground:   radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, $primary 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, $primary 10px, rgba(96, 16, 48, 0) 11px),
$secondary;
$patternBackgroundSize: 20px 20px;
$patternBackgroundContrast: $blue;


@font-face {
  font-family: 'BebasNeue';
  src: url('public/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PoiretOne';
  src: url('public/fonts/PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$poiretFont: 'PoiretOne', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
roboto, oxygen, ubuntu, cantarell, 'Fira Sans', 'Droid Sans',
'Helvetica Neue', sans-serif;

$bebasNeueFont: 'BebasNeue', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
roboto, oxygen, ubuntu, cantarell, 'Fira Sans', 'Droid Sans',
'Helvetica Neue', sans-serif;
